.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.button_wrap {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.result {
    margin-bottom: 20px;
}